$web-text-size: 10px;

$opensans: 'Open Sans', sans-serif;
$nevis: 'Nevis-bold', sans-serif;

$dark-purple: #6e2354;
$faded-black: rgba(0, 0, 0, 0.61);
$dark-grey-blue: #26394b;
$yellow: #f6a500;
$white: #ffffff;
$offwhite: #f2f2f2;
$black: #000000;
$grey: #999999;
$brown-grey: #9b9b9b;
$admin-white: #CECECE;


$professionalFilterIcon: #999999;
$professionalFilterGrey: #e6e6e6;
$professionalDietist: #b6374c;
$professionalErgotherapie: #637c6a;
$professionalFysiotherapie: #6e2354;
$professionalLogopedist: #f6a500;
$professionalOefentherapie: #26394b;
$professionalRevalidatie: #a4b3bb;
$professionalZorguitleen: #76c5b8;
$professionalZiekenhuizen: #f23434;

